_auth = bGN0LWNpOkFLQ3A4alFuRzk5WVozTE1tQlpFNUV4TVNpWWVLbVVMdGg2OEpSVWZITkYzdkcxRDE5TnA4ZjRaR1ZEV2NWeDc3WGd6YlZtMmc=
always-auth = true
email = no-reply@jda.com
#registry=https://jdasoftware.jfrog.io/jdasoftware/api/npm/npm/
@jda:registry=https://jdasoftware.jfrog.io/jdasoftware/api/npm/npm/
@by:registry=https://jdasoftware.jfrog.io/jdasoftware/api/npm/npm/
